<!--Primer test html-->

<%- include('includes/head.ejs') %>


    <body class="container">
        <h1>COOKIES Y SESIONES</h1>
        
        <%- include('includes/logo.ejs') %>
        
        
        <%- include('includes/audio_gif.ejs') %>


        <%- include('includes/ascii.ejs') %>

<button type="button" class="btn btn-primary" id="boton_texto"></button>
<br><br><br>
<button type="button" class="btn btn-dark" id = "boton_genshin"></button>
<%- include('includes/guia_rutas.ejs') %>

<h2>Preguntas</h2><br><br>
<div>

Que beneficios encuentras en el estilo MVC?<br>
- Simplifica tu proyecto y provee una facil <br>
organizacion. Ayuda a la escalabilidad del proyecto ya que lo<br>
fragmenta muy bien.<br><br>

Encuentras alguna desventaja en el estilo arquitectonico MVC?<br>
- Puede llegar a ser algo confuso en la aplicacion del mismo.<br>
Quizas complique un poco hacer los diagramas ya que tienes que <br>
conectar mas documentos y partes del diagrama con otras.<br><br>



</div>




                    </div>

        
                    <%- include('includes/nian_cat.ejs') %>

        <script src="/js/js.js"></script>
               
            <%- include('includes/footer.ejs') %>
    
    </body>
    
</html> 