<!--Primer test html-->

<!DOCTYPE html>

<html>
    <head>

        <%- include('includes/head.html') %>

        
    </head>
    <body class="container">
        <h1>HTML DINAMICO</h1>
        <div class="container">
            <div class="row">
                <div class="col">

                    <%- include('includes/datos.html') %>
                    
                </div>
                <div class ="col"></div>
                <div class="col">
                    <IMG SRC="media/logo_tec.png"
                    width="400"
                    height="100" />
                    
                </div>
            </div>

        </div>
        
        
        <%- include('includes/audio_gif.html') %>


        <%- include('includes/ascii.html') %>

<button type="button" class="btn btn-primary" id="boton_texto"></button>
<br><br><br>

<%- include('includes/guia_rutas.html') %>

<h2>Que otros templating engines existen para node?</h2><br><br>
<div>

Existe pug, el cual es de alto rendimiento e implementado con JavaScript.<br>
Handlebars, es una biblioteca de plantillas de JavaScript.<br>
Underscore.js, es una biblioteca d cinturones de utilidad para JavaScript.<br>
Lo-Dash<br>
mustache<br>
interpose<br>
dust.js<br>
slm<br>


</div>




                    </div>

        
                    <%- include('includes/nian_cat.html') %>

        <script src="/js/js.js"></script>
        <footer>
        
            <%- include('includes/footer.html') %>
            
        </footer>
    </body>
    
</html> 