<!--Primer test html-->

<%- include('includes/head.ejs') %>


    <body class="container">
        <h1>COOKIES Y SESIONES</h1>
        
        <%- include('includes/logo.ejs') %>
        
        
        <%- include('includes/audio_gif.ejs') %>


        <%- include('includes/ascii.ejs') %>

<button type="button" class="btn btn-primary" id="boton_texto"></button>
<br><br><br>
<button type="button" class="btn btn-dark" id = "boton_genshin"></button>
<%- include('includes/guia_rutas.ejs') %>

<h2>Preguntas</h2><br><br>
<div>

Que beneficios encuentras en el estilo MVC?<br>
- Simplifica tu proyecto y provee una facil <br>
organizacion. Ayuda a la escalabilidad del proyecto ya que lo<br>
fragmenta muy bien.<br><br>

Encuentras alguna desventaja en el estilo arquitectonico MVC?<br>
- Puede llegar a ser algo confuso en la aplicacion del mismo.<br>
Quizas complique un poco hacer los diagramas ya que tienes que <br>
conectar mas documentos y partes del diagrama con otras.<br><br>

Encuentras alguna desventaja en el estilo arquitectonico MVC?
- Que ventajas tiene escribir el codigo SQL unicamente <br>
en la capa del modelo?<br>
Tienes toda la logica y el funcionamiento de tu programa<br>
en un lugar, ademas puedes separar las funcionalidades del software<br>
en diversos archivos, ya sea la logica de una vista u otra.<br><br>

Que es SQL injection y como se pueden prevenir?<br>
- Es cuando un hacker inserta codigo propio en un sitio web con el fin<br>
de romper las medidas de seguridad y acceder a los datos. <br>
Para prevenirlo usamos los signos de interrogacion en el post<br>
para asegurar que la informacion que viene es la deseada.<br><br>


</div>




                    </div>

        
                    <%- include('includes/nian_cat.ejs') %>

        <script src="/js/js.js"></script>
               
            <%- include('includes/footer.ejs') %>
    
    </body>
    
</html> 